<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>TAREA LABORATORIO 5</h2>
	
	<form th:action="@{/respuesta1}" method="post">
		<input type="submit" value="Mostrar estudiantes">
	</form>
	<form th:action="@{/respuesta2}">
		<input type="submit" value="Ingresar estudiante">
	</form>
	
	<h2>ACTIVIDAD LABORATORIO 6 - ELIMINAR ESTUDIANTE</h2>
	<form th:action="@{/respuesta3}">
		<input type="submit" value="Borrar estudiante">
	</form>
	<h2>ACTIVIDAD LABORATORIO 7</h2>
	<form th:action="@{/respuesta4}">
		<input type="submit" value="Filtrar estudiante por nombre">
	</form>
		<form th:action="@{/mostrarDTO}">
		<input type="submit" value="Mostrar consulta DTO">
	</form>
	<br>
	<form th:action="@{/respuesta5}" th:object="${estudiante}">
		<h4>Tarea</h4>
		<input type="submit" value="Editar Estudiante">
	</form>
	
</body>
</html>