<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inicio</title>
</head>
<body>

	<h1>Estudiante</h1>
	
	<form th:action="@{/formData}" th:object="${student}" method ="post">
		<label>Nombre:</label> <input type="text" th:field="*{nombre}"><br>
		<label>Apellido:</label> <input type="text" th:field="*{apellido}"><br>
		<label>Fecha de entrada:</label> <input type="date" th:field="*{fEntrada}"><br>
		<label>Carrera:</label> <input type="text" th:field="*{carrera}"><br>
		<label>Activo:</label> <input type="radio" th:field="*{estado}" th:value="${true}"><br>
		<label>Inactivo:</label> <input type="radio" th:field="*{estado}" th:value="${false}"><br>
		
		<input type="submit" value = "Enviar">
	</form>

</body>
</html>